<h2>Welcome</h2>
@*@Html.ActionLink("Login","Login","Account")
@Html.ActionLink("Register","Register","Account")*@

<a class="btn btn-primary" href="Account/Login">Login</a>
<a class="btn btn-primary" href="Account/Register">Register</a>

